-r requirements.txt

wheel
home-assistant-bluetooth
habluetooth>=5.3.0
bluetooth-adapters
pytest>=8.4.1
pytest-cov>=5.0.0
pytest-socket>=0.7.0
pytest-asyncio>=0.24.0
sqlalchemy
freezegun
requests-mock
syrupy>=4.1.0
aiohttp
aiohttp_cors
aiohttp-fast-url-dispatcher
aiohttp-zlib-ng
bleak>=1.0.1
bleak-retry-connector>=4.4.3
bluetooth-data-tools
pyserial-asyncio
pyudev
pytest-homeassistant-custom-component==0.13.294

